@font-face {
	font-family: "lobster";
	src: url('../fonts/LobsterTwo-Regular.ttf');
}
.lobster {
	font-family: "lobster", Helvetica, Arial, sans-serif;
}

body,html
{
 margin: 0;
 padding : 0;
}

* 
{
 box-sizing: border-box;
}

.modal
{
  position: fixed;
  display: flex;
  align-items: center;
  justify-content : center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:rgba(0,0,0,0.8);
}

.modal-wrapper
{
  overflow: auto;
  background-color: #FFF;
  max-width: calc(100vw - 20px);
  max-height: calc(100vh - 20px);
  width: 600px;
  padding:20px;
}

.aide
{
  min-height: 50em;
}

.aide p, li
{
   text-align: justify;
}

.w3-disabled, .w3-btn:disabled, .w3-button:disabled {
opacity:1;
}

.selectCadre
{
	 padding:10px; 
	 width:300px; 
	 height: 250px; 
	 overflow: auto; 
	 padding-right:0px;
   overflow-x:hidden;
}

.emoji
{
  font-family:initial; 
  padding-right:10px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.chrono
{
 text-align:center;
 font-size:1.5em;
 border:0px;
}

.logochrono
{
  text-align:center;
  font-size:10em;
}
